.ant-table{
margin: 16px!important;
}
.ant-layout-content{
    height: 625px;
    margin: 0px!important;
    background-color: #ffff;
}
.ant-layout-footer {
    padding: 10px 50px;
}
/* .TableTitle{
    border-width: 2;
} */
