.menus
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
.ant-menu:after, .ant-menu:before {
    display:none;
    content: "";
}
.logo{height: 10%;}